{% include 'header.html' %}
<h1>User Registration Form</h1>
{% if messages %}
            {% for message in messages %}
            <h3 style="color:red">{{message}}</h3>
            {% endfor %}
            {% endif %}
        <form action='/instertData/' method='post'>
            {% csrf_token %}
            <input type='text' name='first_name' placeholder='First Name'><br />
            <input type='text' name='last_name' placeholder='Last Name'><br />
            <input type='email' name='email' placeholder='Email'><br />
            <input type='text' name='username' placeholder='Username'><br />
            <input type='password' name='password1' placeholder='Password'><br />
            <input type='password' name='password2' placeholder='Confirm Password'><br />

            <input type='Submit'>
        </form>
            
    </body>
</html>

