{% include 'header.html' %}

<h1>All Students</h1>
{% if messages %}
            {% for message in messages %}
            <h3 style="color:red">{{message}}</h3>
            {% endfor %}
            {% endif %}
        <table border='2'>
            <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            </tr>
            {% for record in records%}
            <tr>
                <td>{{record.id}}</td>
                <td>{{record.first_name}}</td>
                <td>{{record.last_name}}</td>
                <td>{{record.email}}</td>
                <td>{{record.username}}</td>
                <td>{{record.password}}</td>
                <td><a href=" {% url 'editData' record.id %}">Edit</a></td>
                <td><a href=" {% url 'deleteData' record.id %}">Delete</a></td>
            </tr>
            
            {% endfor %}
        </table>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>

